venv
*.DS_Store
*.pyc
__pycache__
*.sqlite3
.idea/*
Templates/z*
node_modules
static/css/okta-sign-in.min.css
static/js/okta*
static/js/z*
static/okta*
.env_dev*
.env_preview
.env_testing
env*.conf
sample.html
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
