/*--Default Page--*/
.login-pg-base {
/*    background: url(https://i.pinimg.com/originals/e6/2e/3e/e62e3e39c68bfcdf741ecaf9275b2eae.jpg) no-repeat center center; /*baybridge gold*/
/*    background: url(https://c1.staticflickr.com/3/2900/33896083626_b2b2cd188a_h.jpg) no-repeat center center; /*salesforce tower*/
/*    background: url(https://c1.staticflickr.com/7/6142/6007952202_5eaea2c7c5_b.jpg) no-repeat center center; /*indianapolis*/
/*    background: url(https://c1.staticflickr.com/3/2879/9119750759_eed1e8dc7b_b.jpg) no-repeat center center; /*baybridge bw*/
/*    background: url(http://dmrpresents.com/wp-content/uploads/2016/10/header2.jpg) no-repeat center center;*/
}

/*--Del Auth Page--*/
.login-pg-idp {
/*    background: url(https://i.pinimg.com/originals/e6/2e/3e/e62e3e39c68bfcdf741ecaf9275b2eae.jpg) no-repeat center center;*/
}

/*--RaaS Page--*/
.login-pg-raas {
/*    background: url(https://i.pinimg.com/originals/e6/2e/3e/e62e3e39c68bfcdf741ecaf9275b2eae.jpg) no-repeat center center;*/
}

/*--Profile Page--*/
.profile-view {
}

/*--Main Page--*/
.login-pg {
    background-size: cover;
    position: relative;
    padding-top: 20px;
    padding-bottom: 220px;
}

.bg-fill {
    padding-top: 50px; /*padding for navbar to prevent overlap*/
}

.hidden {
    display: none;
}


.navbar-login-alt {
    display: none;
}

.no-widget {
    padding-top: 15px;
    padding-bottom: 500px;
}

.link-to-form {
    margin: auto;
    padding-top: 1px;
    margin-top: -12px;
    text-align: center;
    background-color: white;
    position: center;
    width: 400px;
}

.code-preview {
    padding-top: 0px;
    display: none;
}


/*--Make the modal popup wider--*/
@media (min-width: 992px) {
  .modal-lg {
    width: 1200px;
  }
}