{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="reg_page">
    <div id="register">
        <form class="form-horizontal" name="ActivationForm" action="{% url 'activate_user' slug=slug %}" method="post">
          {% csrf_token %}
          <h3>Welcome {{ firstName }}.</h3>
          <h4>Please create a password to activate your account.</h4>
          <div class="form-group {% if form.password1.errors %} has-error {% endif %}">
              <p>{{ form.password1.errors }}</p>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
            </div>
          </div>
          <div class="form-group {% if form.password2.errors %} has-error {% endif %}">
              <p>{{ form.password2.errors }}</p>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="password2" name="password2" placeholder="Password (again)">
            </div>
          </div>
          <div class="form-group">
            {% if form.errors %}
            <p>{{ form.non_field_errors }}</p>
            {% endif %}
            <div class="col-sm-offset-0 col-sm-4">
              <button type="submit" value="Submit" class="btn btn-block btn-primary">Submit</button>
            </div>
          </div>
        </form>
    </div>
    Already registered? <a href="{% url 'login' %}">Click here to login</a>
  </div>
</div>
{% endblock %}