{% extends "base.html" %}

{% block content %}
<div class="container" id="vueapp">
  <div class="activation_page">
    <div id="activate">
        <form id="emailActivationForm" class="form-inline" name="ActivationWithEmailForm" action="{% url 'activate_user2' %}" method="post">
          {% csrf_token %}
          <br>
          <h4>Verify your email</h4>
          <div v-if="state === 'verify-email'" id="activationEmailField" class="form-group {% if form.email.errors %} has-error {% endif %}">
              <label class="sr-only" for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          </div>
          <div v-if="state === 'verify-token'" id="activationTokenField" class="form-group {% if form.otp.errors %} has-error {% endif %}">
              <label class="sr-only" for="verificationCode">Verification Code</label>
              <input type="text" class="form-control" id="verificationCode" name="verificationCode" placeholder="Verification Code">
          </div>
          <div id="passwords" v-if="state === 'set-password'">
            <div class="form-group {% if form.password1.errors %} has-error {% endif %}">
                <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
            </div>
            <div class="form-group {% if form.password2.errors %} has-error {% endif %}">
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Password (again)">
            </div>
          </div>
          <div class="form-group">
            {% if form.errors %}
            <p>{{ form.non_field_errors }}</p>
            {% endif %}
            <button type="button" value="Submit" class="btn btn-block btn-primary" onclick="toggleEmailField()">Send</button>
          </div>
        </form>
    </div>
    <br>
    Already registered? <a href="{% url 'login' %}">Click here to login</a>
  </div>
</div>
{% endblock %}

{% load static %}
{% block page_js %}
<script>
  var state = '{{ request.session.activation_state }}';
</script>
<script src="{% static 'js/email_verification.js' %}" type="text/javascript"></script>
{% endblock %}