{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ base_title }} {% block title %}{% endblock title %}</title>
    <link rel="icon" href="{{ base_icon }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

      <!-- CSS -->
      {% bootstrap_css %}

      <!-- JavaScript -->
      {% bootstrap_javascript jquery=1 %}

      <link href="{% static 'css/demo.css' %}" rel="stylesheet">

      <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.21.0/js/okta-sign-in.min.js" type="text/javascript"></script>
      <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.21.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet">
      <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.21.0/css/okta-theme.css" type="text/css" rel="stylesheet">
      <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-auth-js/1.17.0/okta-auth-js.min.js" type="text/javascript"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
      <script src="https://unpkg.com/vue"></script>
      <script src="https://unpkg.com/vue-router"></script>


    {% block head_js %}{% endblock head_js %}

      <script>
        var org = '{{ org }}';
        var base_url = '{{ base_url }}'
        var aud = '{{ aud }}';
        var iss = '{{ iss }}';
        var redirect_uri = '{{ redirect_uri }}';
        var profile = '{{ profile|safe }}';
        var app_permissions_claim = '{{app_permissions_claim}}';
        var api_permissions_claim = '{{api_permissions_claim}}';
        var sub = '{{ request.session.id_token.sub }}'
        var srv_id_token = '{{ srv_id_token|safe }}';
        var srv_access_token = '{{ srv_access_token|safe }}';
      </script>

    {% block head %}{% endblock head %}

    {% block page_css %}{% endblock page_css %}

  </head>

  <body>
    <div id="vueapp-spa">

      <div id="vueapp-nav" class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  {% if 'profile' not in request.session %}
                  <a class="navbar-brand" href="{% url 'login' %}">Home</a>
                  {% else %}
                  <a class="navbar-brand" href="{% url 'profile' %}">Welcome, [[ nameLabel ]]!</a>
                  {% endif %}
                  <button type="button" class="navbar-toggle btn btn-link" data-toggle="collapse" data-target="#navbar-responsive-collapse">
                    <span class = "sr-only">Toggle navigation</span>
                    <span>Menu <b class = "caret"></b></span>
                  </button>
              </div>

              <div class="navbar-collapse collapse" id="navbar-responsive-collapse">
                  <ul class="nav navbar-nav">
                      {% if 'profile' not in request.session %}
                      <li><a href="{% url 'login_css' %}">Example Custom css</a></li>
                      <li><a href="{% url 'okta_hosted_login' %}">OnClick > Redirect</a></li>
                      <li><a href="{% url 'login_custom' %}">No-widget</a></li>
                      <li><a href="{% url 'login_idp' %}">Social/IdP Login</a></li>
                      {% if idp_disco_page != 'None' %}
                      <li><a href="{% url 'login_idp_disco' %}">IdP Discovery</a></li>
                      {% endif %}

                      {% else %}

                      <a v-if="showAdminButton" role="button" class="btn btn-primary btn-sm navbar-btn pull-right" href="{% url 'admin' %}" aria-pressed="true">Admin</a>
                      <a v-if="showDelegateButton" role="button" class="btn btn-primary btn-sm navbar-btn pull-right" href="{% url 'auth_groupadmin' %}" aria-pressed="true">Delegate</a>

                      <li><a href="{% url 'logout' %}">Logout</a></li>
                      {% endif %}
                  </ul>
                  <div id="show-code">
                      <ul class="nav navbar-nav navbar-right">
                          <li style="font-size:11px;">
                              {% if 'profile' not in request.session %}
                              <a id="code-href" href="#" onclick="toggleJsView(this.id)">
                                  Show widget code...
                              </a>
                              {% endif %}
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="navbar-login-alt" id="navbar-login-alt">
                  <form class="navbar-form navbar-left" role="login">
                      <div class="form-group">
                          <input type="text" id="login-un" class="form-control" name="username" placeholder="Username">
                          <input type="password" id="login-pw" class="form-control" name="password" placeholder="Password">
                      </div>
                      <button type="button" id="login-button" class="btn btn-primary" onclick="do_login(this.form.username.value, this.form.password.value)">
                          Sign In</button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                      <li style="font-size:11px;">
                          <a id="code-href2" href="#" onclick="toggleJsView(this.id)">
                              Show login code...
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="bg-fill" id="demo-main-container">
      {% block content %}
      {% endblock content %}
      </div>
    </div>

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/theme/cobalt.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/mode/javascript/javascript.min.js"></script>

  <script src="{% static 'js/utils.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/vuespa.js' %}" type="text/javascript"></script>

  {% block page_js %}
  {% endblock page_js %}

  <!--Code Mirror last, so as to not interfere with other scripts-->
  <script>
    var myTextArea = document.getElementById('myText');
    if (myTextArea) {
        var myCodeMirror = CodeMirror.fromTextArea(myTextArea);
        myCodeMirror.setSize(null,650);
        myCodeMirror.setOption('theme', 'cobalt');
        myCodeMirror.setOption('lineNumbers', true);
    }

    $("#login-pw").keyup(function(event) {
        if (event.keyCode === 13) {
            $("#login-button").click();
        }
    });
  </script>
</html>
