{% extends "base.html" %}

{% load static %}

{% block head_js %}
<script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-auth-js/1.11.0/okta-auth-js.min.js" type="text/javascript"></script>
{% endblock %}


{% block content %}
<div class="login-pg-custom">
	<div class="row">
		<div class="container-fluid">
			<div class="col-md-8">
				<div id="code-preview" class="code-preview">
					<form class="form-horizontal" name="RegistrationForm" action="{% url 'okta_hosted_login' %}" method="post">
						<button type="submit" class="btn btn-primary btn-xs">Update</button>
						<textarea id="myText" name="myText"></textarea>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block page_js %}
<script id="theScript">
{{ js|safe }}
</script>
{% endblock %}
