{% extends "base.html" %}

{% block head_js %}
{% endblock %}


{% block content %}
<div class="row">
	<div class="login-pg login-pg-base" style="background-image: url({{ background_authjs }}); background-repeat: no-repeat; background-size: 100%; background-position: center center;">
		<div class="no-widget">
			<div class="container-fluid">
				<div class="col-md-8">
					<div id="code-preview" class="code-preview">
						<br><br>
						<form class="form-horizontal" name="CodeForm" action="{% url 'login_custom' %}" method="post">
							{% csrf_token %}
							<div class="btn-toolbar" role="toolbar" aria-label="...">
								<button type="submit" class="btn btn-primary btn-xs" name="Update">Update & Reload</button>
								<button type="submit" class="btn btn-primary btn-xs" name="Default">Reset</button>
							</div>
							<textarea id="myText" name="myText"></textarea>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% load static %}

{% block page_js %}
<script>
var loginBar = document.getElementById('navbar-login-alt');
if (loginBar) {
	loginBar.style.display = 'block';
}
var defaultWidgetCodeLink = document.getElementById('show-code');
if (defaultWidgetCodeLink) {
	defaultWidgetCodeLink.style.display = 'none';
}
</script>
<script id="theScript">
{{ js|safe }}
</script>
{% endblock %}

