{% extends "base.html" %}

{% load static %}

{% block head_js %}
<link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.5.0/css/okta-theme.css" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="login-pg-raas">
	<div class="row">
		<div class="container-fluid">
			<div id="widget-b3">
				<div id="okta-login-container"></div>
				<div id="link-to-form" class="link-to-form">
					<p><a href="/register">Click here to see a Form Example</a></p>
				</div>
			</div>
			<div class="col-md-8">
				<div id="code-preview" class="code-preview">
					<pre id="js-area" class="prettyprint lang-js"></pre>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block page_js %}
<script type="text/javascript">
	raas_flag = true;
</script>
<script>
	var ele = document.getElementById("link-to-form");
	if (ele) {
		ele.style.display="none";
	}
</script>
<script src="{% static 'js/oidc_css.js' %}" type="text/javascript"></script>
<script>
getJs('{% static 'js/oidc_css.js' %}', 'js-area');

oktaSignIn.on('pageRendered', function(data) {
	console.log('page=' + data.page);
	console.log('url=' + window.location);
	if (ele) {
		if(data.page==='registration'){
			ele.style.display="block";
		} else {
			ele.style.display="none";
		}
	}
});
</script>
{% endblock %}
