{% extends "base.html" %}
{% block title %}Logged out{% endblock %}

{% load static %}
{% block head_js %}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Signing out...</h1>
</div>
{% endblock %}

{% block page_js %}
<script type="text/javascript">
var oktaSignIn = new OktaSignIn({
    baseUrl: 'https://{{ base_url }}'
});
oktaSignIn.authClient.session.exists()
.then(function(exists) {
    if (exists) {
        //clear tokens from local storage
        oktaSignIn.authClient.tokenManager.clear();

        oktaSignIn.authClient.closeSession()
        .then(()=>{
            console.log('logged out successfully');
            console.log('redirecting to page='+ '{{ page }}');
            window.location.href = '{{ page }}';
            return;
        })
        .catch((err)=>{
            console.log(err);
            return;
        });
    } else {
        window.location.href = '/';
    }
})
.catch(function(err) {
    console.log(err);
});
</script>
{% endblock %}
