{% extends "base.html" %}

{% load static %}

{% block head_js %}
<link href="{% static "css/okta-sign-in-override.css" %}" type="text/css" rel="stylesheet">
<link href="{% static "css/okta-theme.css" %}" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="login-pg login-pg-idp">
	<div class="row">
		<div class="container-fluid">
			<div class="col-md-4">
				<div id="okta-login-container"></div>
			</div>
			<div class="col-md-8">
				<div id="code-preview" class="code-preview">
					<pre id="js-area" class="prettyprint lang-js linenums"></pre>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block page_js %}
<script>
	var saml_idp = '{{ saml_idp }}';
	var goog = '{{ google }}';
	var fb = '{{ fb }}';
	var lnkd = '{{ lnkd }}';
</script>
<script src="{% static 'js/oidc_idp.js' %}" type="text/javascript"></script>
<script>getJs('{% static 'js/oidc_idp.js' %}', 'js-area');</script>
{% endblock %}

