{% extends "base.html" %}

{% load static %}

{% block head_js %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">ID TOKEN</div>
                <div class="panel-body">
                    <textarea class="form-control" id="id_token" readonly rows="14" cols="100%" style="font-size:11px"></textarea>
                    <p></p>
                    <textarea class="form-control" id="id_token_decoded" readonly rows="30" cols="100%"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">ACCESS TOKEN</div>
                <div class="panel-body">
                    <textarea class="form-control" id="access_token" readonly rows="14" cols="100%" style="font-size:11px"></textarea>
                    <p></p>
                    <textarea class="form-control" id="access_token_decoded" readonly rows="30" cols="100%"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
<script src="{% static 'js/show_tokens.js' %}" type="text/javascript"></script>
{% endblock %}

